body {
    background-color: var(--white);
    height: 500vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    margin: 0;
}
html {
    overflow-x: hidden;
}
:root {
    --white: #f2f2f2;
    --dark: #1c1c1c;
    --black: #000000;
    --blue: rgb(5,23,42);
    --orange: #efad5d;
}

* {
    transition-duration: 0.5s;
    font-family: "Oswald";
}
#wip-title {
    position: absolute;
    margin: 0;
    top: 45vh;
    font-family: "Oswald";
    text-align: center;
}
#header {
    position: fixed;
    top: 2vh;
    left: 2.5vw;
    width: 95vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    background-color: var(--white);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border: 1px solid var(--blue);
    border-radius: 10px;
}
#header-title {
    font-size: 1.2em;
    font-weight: 300;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: auto;
    display: inline-block;
    color: var(--black);
}
#funtext {
    display: inline-block;
    transform: skew(3deg, 3deg);
    color: var(--orange);
}
#funtext:hover {
    transform: skew(-3deg, -3deg);
}
#homepagetext {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    top: 0vh;
    height: 50vh;
    background-color: red;
}
.pages {
    position: absolute;
    top: 100vh;
    width: 100vw;
    display: none;
}
#page0top {
    top: 0;
    left: 0;
    position: absolute;
}
#page0 {
    top: 93vh;
}
.blog-titles {
    text-align: center;
    color: var(--black);
}
.waves {
    position: absolute;
    top: 0vh;
    left: -2.5px;
    z-index: -1;
    opacity: 50%;
    width: 382.5px;
    transition-duration: 0s;
    transform-origin: left top;
}
#wavesvg {
    opacity: 100%;
    z-index: 0;
}
#wavesvg2{
    top: 2vh;
}
/*
#MSB {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vh;
    overflow-x: hidden;
}
*/
.material-symbols-outlined {
    color: var(--dark);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#menu-button {
    background-color: rgb(255,255,255,0);
    border: none;
    padding: none;
    width: 10vh;
    height: 10vh;
    text-align: center;
    margin: none;
    line-height: 1vh;
    color: var(--dark);
    max-width: 45vw;
    transition-duration: 0s;
}
#menu-button:hover {
    background-color: rgb(0,0,0,0.1);
}
#night-button {
    background-color: rgb(255,255,255,0);
    border: none;
    padding: none;
    width: 20vh;
    height: 10vh;
    text-align: center;
    margin: 0;
    line-height: 1vh;
    margin-left: auto;
    display: none;
    color: var(--dark);
    max-width: 45vw;
    transition-duration: 0s;
}
#night-button:hover {
    background-color: rgb(0,0,0,0.1);
}
#open-menu {
    position: fixed;
    display: flex;
    top: 15vh;
    left: 102.5vw;
    width: 95vw;
    height: 82.5vh;
    border-radius: 10px;
    border: 1px solid var(--dark);
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    z-index: 5;
}
.menu-selects {
    border: none;
    text-align: center;
    background-color: rgb(0,0,0,0);
    color: var(--black);
    font-size: 2.5em;
    font-weight: 200;
    width: 95vw;
    height: calc(82.5vh/6);
    z-index: 0;
    transition-duration: 0.2s;
    top: 0;
    border-radius: 10px;
}
.menu-selects:hover {
    background-color: rgb(0,0,0,0.1);
    font-size: 2.3em;
}
.body-titles, .body-text {
    color: var(--black);
    padding-left: 5vw;
    float: left;
    width: 100vw;
}
.body-text-raised {
    color: var(--black);
    padding-left: 8vw;
    border-left: 2px solid black;
    width: 92vw;
}
.body-titles-centered, .body-text-centered {
    color: var(--black);
    padding: 0;
    margin: 0;
    text-align: center;
}
.body-titles-right, .body-text-right {
    color: var(--black);
    padding-right: 5vw;
    float: right;
    width: 100vw;
}
.body-text-raised-right {
    color: var(--black);
    padding-right: 8vw;
    border-right: 2px solid black;
    float: right;
}
#featuredpostgrid {
    width: 90vw;
    background-color: #ffffff00;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-flow: row wrap;
}
.postsquare {
    width: clamp(300px, 25vw, 400px);
    background-color: var(--blue);
    margin: 20px;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    /*line-height: clamp(200px, 25vw, 400px);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    color: var(--white);
    box-shadow: 0px 0px 15px 0px var(--dark);
    transition-duration: 0.7s;
}
.postsquare:hover {
    box-shadow: 0px 0px 25px 0px var(--dark);
}
.postsquareimages {
    width: 100%;
    border-radius: 10px;
}
.postsquaretext {
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}
.postsquareviews {
    font-size: 1em;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.header-btns {
    background-color: rgb(0,0,0,0);
    color: var(--black);
    border: none;
    width: 8vw;
    height: 10vh;
    font-size: 1em;
    text-align: center;
    transition-duration: 0.2s;
    margin: auto;
    display: none;
    a {
        color: var(--black);
        text-decoration: none;
    }
}
.header-btns:hover {
    font-size: 0.9em;
}
#hta {
    color: var(--black);
        text-decoration: none;
}
.post-text {
    top: 20vh;
    position: relative;
    font-size: 3vw;
    color: var(--black);
}
.post-title {
    text-align: center;
    font-size: 5vw;
    color: var(--blue);
}
.post-ita {
    font-style: italic;
    color: var(--dark);
}

@media screen and (min-width: 768px) {
    #header-title {
        margin: 0;
    }
    #night-button {
        display: inline-block;
        width: 10vh;
        transition-duration: 0.5s;
    }
    #menu-button {
        transition-duration: 0.5s;
    }
    #header {
        top: 2.5vh;
    }
    .header-btns {
        display: inline-block;
    }
}
