* {
  transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  font-family: 'Montserrat', sans-serif;
}
html {
  margin: none;
  padding: 0px;
  overflow-x: hidden;
}
#title {
  width: 25vw;
  height: 10vh;
  padding: 0px;
  margin: none;
  background-image: url("usa_flag.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px 0px;
  background-size: auto;
}
.headbutt {
  width: 25vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  position: fixed;
  padding: 0px;
  margin: none;
  border: none;
  background: none;
}
#about {
  top: 0px;
  left: 25vw;
}
#conta {
  top: 0px;
  left: 50vw;
}
#price {
  top: 0px;
  left: 75vw; 
}
.headbutt:hover {
  background-color: rgba(0,0,0,0.08);
}
.red {color: rgb(245, 78, 66)}
.orange {color: rgb(245, 122.5, 78)}
.yellow {color: rgb(245, 245, 78)}
.green {color: rgb(66, 245, 78)}
.aqua {color: rgb(78, 245, 245);}
.blue {color: rgb(78, 66, 245)}
.pink {color: rgb(245, 78, 245)}
.purple {color: rgb(122.5, 78, 245)}