body {
    overflow-x: hidden;
    background-color: rgb(255,255,255);
    height: 600vh;
}
* {
    transition-duration: 0.5s;
}
#navbar {
    width: 100vw;
    /*height: 8.5vh;*/
    position: fixed;
    top: 0;
    left: 0;
    background-color: #80d2ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    z-index: 1000;
}
#navbar-title {
    font-family: "DM Serif Text";
    font-size: clamp(1.5em, 4vw, 2em);
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vw;
}
.material-symbols-outlined {
    padding: clamp(0.1em, 1.5vw, 0.5em);
    font-size: clamp(1.5em, 4vw, 2em);
    margin: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#top-section {
    position: absolute;
    width: 100vw;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-color: rgb(240,240,240);
    height: 100vh;
}
@keyframes cloud-movement {
    0% {left: -50vw;}
    100% {left: 120vw;}
}
#cloud-one-blue {
    position: absolute;
    top: 30vh;
    left: 0vw;
    z-index: 1;
    width: clamp(10em, 30vw, 20em);
    animation-name: cloud-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#cloud-one-black {
    position: absolute;
    top: 30.5vh;
    left: 0vw;
    z-index: 0;
    width: clamp(10em, 30vw, 20em);
    animation-name: cloud-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#main-text-title {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50%;
    text-shadow: -2px 3px #80d2ff;
}

/*
#80d2ff --> navbar blue, main color in light-mode
#ffAD80 --> complementary orange - use sparingly
*/