body, html {
    overflow-x: hidden;
}
* {
    transition-duration: 0.5s;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
/*.sect-right and .sect-left are referring to the sections that will slide*/
.sect-right, .sect-left {
    padding: 5px 10px 5px;
    margin: 5px;
}
